# 4.6 데이터프레임 합성
## 연습 문제 4.6.1
두 개의 데이터프레임을 만들고 merge 명령으로 합친다. 단 데이터프레임은 다음 조건을 만족해야 한다.

1. 각각 5 x 5 이상의 크기를 가진다.

2. 공통 열을 하나 이상 가진다. 다만 공통 열의 이름은 서로 다르다.

In [5]:
import pandas as pd

df1 = pd.DataFrame({
    '이름' : ['짱구', '철수', '훈이', '유리', '맹구'],
    '국어' : [60, 90, 80, 85, 70],
    '영어' : [70, 80, 60, 70, 50],
    '수학' : [60, 90, 80, 85, 70],
    '과학' : [70, 80, 60, 70, 50]
})

df2 = pd.DataFrame({
    '성명' : ['짱구', '철수', '훈이', '유리', '맹구'],
    '체육' : [60, 90, 80, 85, 70],
    '음악' : [70, 80, 60, 70, 50],
    '사회' : [80, 50, 60, 70, 40],
    '물리' : [90, 90, 80, 80, 70]
})

# merge 명령으로 합침
pd.merge(df1, df2, left_on = '이름', right_on = '성명')

   이름  국어  영어  수학  과학  성명  체육  음악  사회  물리
0  짱구  60  70  60  70  짱구  60  70  80  90
1  철수  90  80  90  80  철수  90  80  50  90
2  훈이  80  60  80  60  훈이  80  60  60  80
3  유리  85  70  85  70  유리  85  70  70  80
4  맹구  70  50  70  50  맹구  70  50  40  70

## 연습문제 4.6.2
어느 회사의 전반기(1월 ~ 6월) 실적을 나타내는 데이터프레임과 후반기(7월 ~ 12월) 실적을 나타내는 데이터프레임을 만든 뒤 합친다. 실적 정보는 “매출”, “비용”, “이익” 으로 이루어진다. (이익 = 매출 - 비용).

또한 1년간의 총 실적을 마지막 행으로 덧붙인다.

In [77]:
import pandas as pd

df_3 = pd.DataFrame({
    '매출' : [100, 200, 300, 400, 500, 600],
    '비용' : [10, 20, 30, 40, 50, 60]},
    index = ['1월','2월','3월','4월','5월','6월'],
    columns = ['매출', '비용']
)

# 이익 열 생성하기
profit_1 = df_3.apply(lambda x : x['매출'] - x['비용'], axis = 1)
df_3['이익'] = profit_1

df_4 = pd.DataFrame({
    '매출' : [700, 800, 900, 1000, 1100, 1200],
    '비용' : [70, 80, 90, 100, 110, 120]},
    index = ['7월', '8월', '9월', '10월', '11월', '12월'],
    columns = ['매출', '비용']
)

# 이익 열 생성하기
profit_2 = df_4.apply(lambda x : x['매출'] - x['비용'], axis = 1)
df_4['이익'] = profit_2

df_5 = pd.concat([df_3, df_4])

# 총 실적 계산
total = df_5.apply(lambda x: sum(x))

df_total = pd.DataFrame(total, index = ['매출', '비용', '이익'], columns=['총실적'])
df_6 = df_total.stack(0)
df_7 = df_6.unstack(0)

# 마지막행에 총 실적 추가
pd.concat([df_5, df_7])

       매출   비용    이익
1월    100   10    90
2월    200   20   180
3월    300   30   270
4월    400   40   360
5월    500   50   450
6월    600   60   540
7월    700   70   630
8월    800   80   720
9월    900   90   810
10월  1000  100   900
11월  1100  110   990
12월  1200  120  1080
총실적  7800  780  7020