## 시리즈 인덱싱

In [96]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

s[0] # 9904312
s['서울'] #9904312

# 다음은 비문이다.
#s[0, 1]  

# 인덱싱을 할 때는 : 를 이용하거나 [[]] 꼴로 해야한다. 아래 두 개는 결과가 같다.
s[0:2] # 서울, 부산
s[[0, 1]] #서울, 부산

서울    9904312
부산    3448737
dtype: int64

## 시리즈와 딕셔너리

In [98]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

"인천" in s #True

# .items() 메소드 사용가능
for key, value in s.items():
    print("%s = %d"%(key, value))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

## 데이터 갱신, 추가, 삭제

In [103]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

# 데이터 추가
s["대전"] = 2489712

# 데이터 갱신
s["서울"] = 3456785

# 데이터 삭제
del s["부산"]

서울    3456785
인천    2890451
대구    2466052
대전    2489712
dtype: int64

## 연습 문제 4.1.1

(1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.

(2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [18]:
import pandas as pd

# (1) 임의의 두 개의 시리즈 객체 만들기
x = pd.Series([100, 98, 60, 70], index = ["국어", "영어", "수학", "과학"])
y = pd.Series([98, 50, 84, 89], index = ["국어", "영어", "수학", "사회"])

# (2) 두 시리즈 객체를 이용하여 사칙 연산을 한다.
# 더하기
plus = x + y

# 삐기
minus = x - y

# 곱하기
multi = x * y

# 나누기
div = x / y

## 연습 문제 4.1.2

다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [22]:
import pandas as pd

data = {
    "종가" : [83900, 130500, 893000, 832000, 292500],
    "종목명" : ["삼성전자", "SK하이닉스", "LG화학", "삼성바이오로직스", "NAVER"],
    "PER" : [22.91, 33.11, 83.43, 154.91, 58.23],
    "ROE" : [8.69, 4.25, 1.84, 4.77, 10.56],
    "등락률" : [1.08, 3.57, 0.45, 0.36, -0.17]
}
columns = ["종목명", "종가", "등락률", "PER", "ROE"]
index = ["005830", "000660", "051910", "207940", "035420"]

df = pd.DataFrame(data, index = index, columns = columns)
df

             종목명      종가   등락률     PER    ROE
005830      삼성전자   83900  1.08   22.91   8.69
000660    SK하이닉스  130500  3.57   33.11   4.25
051910      LG화학  893000  0.45   83.43   1.84
207940  삼성바이오로직스  832000  0.36  154.91   4.77
035420     NAVER  292500 -0.17   58.23  10.56

## 다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

In [82]:
import pandas as pd

data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

# (1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
series_m = df["수학"]

# (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df_kor_eng = df[["국어", "영어"]]

# (3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df["각 과목 평균 점수"] = ((df["국어"] + df["영어"] + df["수학"]) / 3).round(2)

# (4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
# 데이터의 갱신은 열 단위로 할 수 있다.
df['영어'] = [90, 70, 60, 80]
df["각 과목 평균 점수"] = ((df["국어"] + df["영어"] + df["수학"]) / 3).round(2)

# 아래와 같이 개별적으로 바꾸는 것은 SettingWithCopyWarning 오류 메시지가 뜬다.
# df['영어']['방자'] = 80 


# (5) 춘향의 점수를 데이터프레임으로 나타낸다.
# 행 데이터는 정수 슬라이싱으로 할 수 있다.
df[:1] 

# (6) 향단의 점수를 시리즈로 나타낸다.
# 시리즈로 추출하는 것은 열 인덱싱을 했을 때 가능하기 때문에 .T로 전치처리를 해주어야 한다.
df.T['향단']

국어            70.0
영어            60.0
수학            80.0
각 과목 평균 점수    70.0
Name: 향단, dtype: float64

In [90]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])

s[1:3]

부산    3448737
인천    2890451
dtype: int64

# 데이터 입출력

## 데이터 생성

%%writefile 파일이름.csv

In [7]:
%%writefile sample1.csv
열1, 열2, 열3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample1.csv

## 데이터 입력

### pd.read_csv('파일이름.csv') 사용

In [8]:
import pandas as pd

# 행 인덱스와 열 인덱스 모두 지정해주지 않으면 행 인덱스는 0부터 자동으로 매겨지고 열 인덱스는 첫 번째 행이 된다.
pd.read_csv("sample1.csv")

# 행 인덱스 설정
# c1 열이 행 인덱스로 설정된다.
pd.read_csv('sample1.csv', index_col = '열1')

# 열 인덱스 설정
# names 리스트가 열 인덱스로 설정된다.
pd.read_csv('sample1.csv', names= ['1열','2열','3열'])

   1열     2열      3열
0  열1     열2      열3
1   1   1.11     one
2   2   2.22     two
3   3   3.33   three

### skiprows 사용

In [2]:
import pandas as pd

# 첫번째 행 제외
pd.read_csv('sample1.csv', skiprows = [0], names = ['1열', '2열', '3열'])

   1열    2열      3열
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

### na_values 사용

In [3]:
import pandas as pd

# 1.11 을 NaN으로 처리하려 읽어온다.
pd.read_csv('sample1.csv', skiprows = [0], names = ['1열', '2열', '3열'], na_values=['1.11'])

   1열    2열      3열
0   1   NaN     one
1   2  2.22     two
2   3  3.33   three

### datareader 패키지 사용

In [4]:
import datetime
dt_start = datetime.datetime(2020, 1, 1)
dt_end = datetime.datetime(2021, 1, 5)

import pandas_datareader as pdr

gdp = pdr.get_data_fred('GDP', dt_start, dt_end)
gdp.tail()

                  GDP
DATE
2020-01-01  21561.139
2020-04-01  19520.114
2020-07-01  21170.252

## 데이터 출력

 데이터 출력

### pd.to_csv('파일이름.csv') 사용

In [6]:
import datetime
dt_start = datetime.datetime(2020, 1, 1)
dt_end = datetime.datetime(2021, 1, 5)

import pandas_datareader as pdr

gdp = pdr.get_data_fred('GDP', dt_start, dt_end)
gdp.tail()

gdp.to_csv('gdp.csv')