# 2.5 데이터프레임 인덱스 조작
## 연습 문제 4.5.1
5명의 학생의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

1. 학생 이름을 나타내는 열을 포함시키지 않고 데이터프레임 df_score1 을 생성한 후, df_score1.index 속성에 학생 이름을 나타내는 열을 지정하여 인덱스를 지정한다. reset_index 명령으로 이 인덱스 열을 명령으로 일반 데이터열로 바꾸여 데이터프레임 df_score2을 만든다.

2. 학생 이름을 나타내는 열이 일반 데이터 열을 포함하는 데이터프레임 df_score2에 set_index 명령을 적용하여 다시 학생 이름을 나타내는 열을 인덱스로 변경한다.

In [8]:
import pandas as pd

data = {
    "국어" : [90, 60, 70, 85, 75],
    "영어" : [60, 70, 50, 95, 80],
    "수학" : [85, 80, 90, 70, 90]
}
# 학생 이름을 나타내는 열을 포함하지 않는 데이터프레임 생성
df_score1 = pd.DataFrame(data)
# 학생 이름을 index 속성에 추가
df_score1.index = ["짱구", "철수", "훈이", "유리", "맹구"]

# 기존 인덱스를 일반 데이터열로 바꾸어 인덱스 수정
df_score2 = df_score1.reset_index()

## 연습문제 4.5.2
A 반 학생 5명과 B반 학생 5명의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

1. “반”, “번호”, “국어”, “영어”, “수학” 을 열로 가지는 데이터프레임 df_score3을 만든다.

2. df_score3을 변형하여 1차 행 인덱스로 “반”을 2차 행 인덱스로 “번호”을 가지는 데이터프레임 df_score4을 만든다.

3. 데이터 프레임 df_score4에 각 학생의 평균을 나타내는 행을 오른쪽에 추가한다.

4. df_score3을 변형하여 행 인덱스로 “번호”를, 1차 열 인덱스로 “국어”, “영어”, “수학”을, 2차 열 인덱스로 “반”을 가지는 데이터프레임 df_score5을 만든다.

5. 데이터 프레임 df_score5에 각 반별 각 과목의 평균을 나타내는 행을 아래에 추가한다.

In [55]:
import pandas as pd

data = {
    "반" : ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'],
    "번호" : [1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
    "국어" : [90, 60, 70, 85, 75, 60, 79, 56, 90, 70],
    "영어" : [60, 70, 50, 95, 80, 90, 60, 70, 85, 75],
    "수학" : [85, 80, 90, 70, 90, 60, 70, 50, 95, 80]
}
# 1번 문제
# df_score3 만들기
df_score3 = pd.DataFrame(data)

# 2번 문제
# df_score4 만들기
df_score4 = df_score3.set_index(['반','번호'])

# 3번 문제
# 행 단위 평균 계산하여 시리즈로 저장
mean = df_score4.apply(lambda x : x.mean(), axis = 1)
# 평균 열 추가
df_score4['평균'] = mean
print(df_score4)

# 4번 문제
df_score5 = df_score3.set_index(['반', '번호']).unstack('반')
print(df_score5)

# 5번 문제
df_score5.loc['평균',:] = df_score5.apply(lambda x : x.mean())

      국어  영어  수학         평균
반 번호
A 1   90  60  85  78.333333
  2   60  70  80  70.000000
  3   70  50  90  70.000000
  4   85  95  70  83.333333
  5   75  80  90  81.666667
B 1   60  90  60  70.000000
  2   79  60  70  69.666667
  3   56  70  50  58.666667
  4   90  85  95  90.000000
  5   70  75  80  75.000000
    국어      영어      수학
반    A   B   A   B   A   B
번호
1   90  60  60  90  85  60
2   60  79  70  60  80  70
3   70  56  50  70  90  50
4   85  90  95  85  70  95
5   75  70  80  75  90  80

      국어          영어          수학
반      A     B     A     B     A     B
번호
1   90.0  60.0  60.0  90.0  85.0  60.0
2   60.0  79.0  70.0  60.0  80.0  70.0
3   70.0  56.0  50.0  70.0  90.0  50.0
4   85.0  90.0  95.0  85.0  70.0  95.0
5   75.0  70.0  80.0  75.0  90.0  80.0
평균  76.0  71.0  71.0  76.0  83.0  71.0